#user-courses-index
  = content_for :h1_for_wrap do
    %h1.pull-left Course #{course.title} participants

  %table.table.table-striped{ id: 'partisipants-list' }
    %tr
      %th User
      - if course.user_id == current_user.id
        %th Action for author of course
    - if @users.present?
      - @users.each do |user|
        = render 'participants/participant', user: user, course: course
