.box.box-widget
  .box-header.with-border
    .user-block
      = image_tag 'user1-128x128.jpg', class: 'img-circle', alt: 'User Image'
      %span.username
        %a{:href => "#"} Jonathan Burke Jr.
      %span.description Shared publicly - 7:30 PM Today
    / /.user-block
    .box-tools
      %button.btn.btn-box-tool{"data-original-title" => "Mark as read", "data-toggle" => "tooltip", :title => "", :type => "button"}
        %i.fa.fa-circle-o
      %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
        %i.fa.fa-minus
      %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
        %i.fa.fa-times
    / /.box-tools
  / /.box-header
  .box-body{:style => ""}
    = image_tag 'photo2.png', class: 'img-responsive pad', alt: 'Photo'
    %h2 Course title
