#courses-index
  %h1 Courses

  - if @courses.present?
    %table.table.table-striped
      %tr
        %th Title
        %th Picture
        %th Participants

      - @courses.each do |n|
        %tr
          %td= n.title
          %td= image_tag(n.picture.thumb)
          %td= link_to 'Participants', course_participants_path(n), method: :get
    = paginate @courses
  - else
    %h2 No Courses
