#courses-index
  %h1 Courses

  - if @courses.present?
    %table.table.table-striped
      %tr
        %th Title
        %th Picture

      - @courses.each do |n|
        %tr
          %td= n.title
          %td= image_tag(n.picture.thumb)
    = paginate @courses
  - else
    %h2 No Courses
