#courses-index
  %h1 Courses

  - if @courses.present?
    %table.table.table-striped{ id: 'courses-list' }
      %tr
        %th Title
        %th Picture
        %th Action
        %th Lessons
        %th Participants

      - @courses.each do |course|
        = render 'courses/course', course: course

    = paginate @courses
  - else
    %h2 No Courses
